@model TestSmth2.Models.ViewModels.PatientViewModel
@{
}
<div class="py-2">
    <div class="container">
        <h1>Users - Admin Functionality</h1>
    </div>
</div>

<div>
    <div class="container py-5">

        <div class="mb-3 d-flex justify-content-end">
            <button type="button" class="btn btn-dark" data-bs-toggle="modal" data-bs-target="#modalCreatePatient">
                Create Patient
            </button>
        </div>


        @if (Model.Patients is not null || Model.Patients.Any())
        {
            <table class="table">
                <thead>
                    <tr>
                        <th>CNP</th>
                        <th>First Name</th>
                        <th>Last Name</th>
                        <th> </th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var patient in Model.Patients)
                    {
                        <tr>
                            <td>@patient.PatientCNP</td>
                            <td>@patient.PatientFirstName</td>
                            <td>@patient.PatientLastName</td>
                            <td>
                                <form method="post"
                                      asp-controller="AdminPatient"
                                      asp-action="Delete"
                                      asp-route-PatientCNP="@patient.PatientCNP">
                                    <button class="btn btn-danger" type="submit">Delete</button>
                                </form>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        }
        else
        {
            <p>No users found!</p>
        }



    </div>
</div>


<!-- Modal -->
<form method="post">
    <div class="modal fade" id="modalCreatePatient" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="exampleModalLabel">Create New Patient</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div class="mb-3">
                        <label class="form-label">Patient CNP</label>
                        <input type="text" class="form-control" asp-for="PatientCNP" />
                    </div>
                    <div class="mb-3">
                        <label class="form-label">First Name</label>
                        <input type="text" class="form-control" asp-for="PatientFirstName" />
                    </div>
                    <div class="mb-3">
                        <label class="form-label">Last Name</label>
                        <input type="text" class="form-control" asp-for="PatientLastName" />
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-primary">Save changes</button>
                </div>
            </div>
        </div>
    </div>

</form>