@model TestSmth2.Models.ViewModels.AddAntibioticRequest
@{
}
<div class="py-2">
    <div class="caontainer">
        <h1>
            Add An Antibiotic - Admin Functionality
        </h1>
    </div>
</div>

<div class="container py-5">
    <form method="post">
        <div class="mb-3">
            <label class="form-label">Name</label>
            <input type="text" class="form-control" id="name" asp-for="name" />
        </div>
        <div class="mb-3">
            <button type="submit" class="btn btn-dark">Submit</button>
        </div>
    </form>
</div>